<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <b><a href="/">Home</a></b>
        </ul>
    </nav>
    <header>
        <h1>Registro de Protocolos</h1>
        <h2>Index</h2>
    </header>
    <main>
        <p>Acesse para registrar procotolos</p>
    </main>
</body>
</html>